* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

.text-center {
  text-align: center; }
.bg_container
{
  background-size: cover;
  padding: 25px 25px 42px 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0,0.2)), url(../images/bg_image.jpg) center center;
}
.template
{
  display: none;
  background-color: rgba(0,0,0,0.3);
  padding: 10px;
}
  .template .score 
  {
    color: #fff; 
  }
    .game-title 
    {
      font-size: 2.3rem;
      color: #fff;
      margin-bottom: 28px;
  }
.game-grid
{
  background-color: #ffe600;
}
.game-container {
  width: 40%;
    height: 500px;
    margin: 20px auto;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
  display: grid;
  grid-template: repeat(8, 1fr)/repeat(8, 1fr); 
}
  .game-container .game-grid 
  {
    border: 1px solid #fff;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px #4a4949;
}

.new_game_btn
{
  padding: 5px 18px 8px 22px;
  background-color: #ffe600;
  border-radius: 4px;
  margin-top: 5px;
  width:160px;
  cursor: pointer;
}
.btn_group
{
  background-color: rgba(0,0,0,0.3);
  padding: 10px;
  text-align: center;
}
.rstore_btn
{
  padding: 5px 18px 8px 22px;
  background-color: #ffe600;
  border-radius: 4px;
  width:160px;
  margin-top: 5px;
  cursor: pointer;
}
/* Navbar css*/

.navbar {
  background-color: #ffe600;
  position: relative;
  min-height: 50px;
  box-shadow: 0px 3px 8px #7b7b7b;
  border: 1px solid transparent;
}

.navbar-brand {
  padding: 30px 15px 15px 15px;
    font-size: 24px;
    text-decoration: none;
    line-height: 43px;
    color: #000;
    font-weight: bold;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-header
{
  text-align: center;
}

/*Media Query */

@media (max-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
}
  .game-container
   {
    width: 100%; 
    height: 365px;
  } 

.game-title {
  font-size: 1.7rem;
}

}